@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Fira+Code:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-slate-900 transition-colors duration-300;
}

:root[class~="dark"] body {
  @apply bg-[#09090b] text-zinc-100;
}

.tech-font {
  font-family: 'Fira Code', monospace;
}
